.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
}

.container section {
  float: 1px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.26rem;
  align-content: center;
}
